// ! TEMPLATES
%wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

%car-name__input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid transparent;
  color: #03001c;

  &:focus {
    border-color: #5b8fb9;
  }
}

%color-picker {
  cursor: pointer;
  transition: all 0.3s ease-in 0s;

  &:hover {
    background-color: #b6eada;
  }
}

%engine-button {
  position: relative;
  display: inline-block;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #5b8fb9;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #b6eada;
  }
}

%position-pseudoelement-centre {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

// ! MIXINS
@mixin controller-button($background-color, $color) {
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: $color;
  background-color: $background-color;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;

  &:hover,
  &:active {
    background-color: $color;
    color: $background-color;
  }
}
